@media (min-height: 900px) and (max-height: 1500px){

    .Endo{
      position: absolute;
      right: -50%;
      top: -10%;
      width: 50%;
      height: 10%;
    }
  
    .Endo_Label{
      position: absolute;
      left: 0;
      top: -6%;
      width: 50%;
      height: 13%;
      color: blue;
      border: 2px;
      border-color: blue;
      border-style: solid;
      border-width: 100%;
    }
  
    .Exo{
      position: absolute;
      right: -50%;
      top: 12%;
      width: 50%;
      height: 10%;
    }
  
    .Exo_Label{
      position: absolute;
      left: 0;
      top: 8%;
      width: 50%;
      height: 11%;
      color: blue;
      border: 2px;
      border-color: blue;
      border-style: solid;
      border-width: 100%;
    }
  
    .Selected_LR{
      position: absolute;
      right: -50%;
      top: 5%;
      width: 50%;
      height: 10%;
    }
  
    .Selected_LR_Label{
      position: absolute;
      left: 0;
      top: 19%;
      width: 50%;
      height: 10%;
      color: blue;
      border: 2px;
      border-style: solid;
      border-color: blue;
      border-width: 100%;
    }
  
    .Fit_Model{
      position: absolute;
      left: 0;
      top: 50%;
      width: 40%;
      height: 10%;
      color: blue;
      background-color: transparent;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .Model_Predict{
      position: absolute;
      right:0;
      top: 50%;
      width: 40%;
      height: 10%;
      color: blue;
      background-color: transparent;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .Normalization_Method{
      position: absolute;
      top: 0;
      right: -85%;
      width: 15%;
      height: 15%;
    }
  
    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: blue;
      background-color: white;
    }
  
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
  
    .DashboardContainer{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 99%;
      height: 100%;
      border: 5px ;
      border-style: solid;
      border-color: blue;
    }

    .Dashboard_Shadow{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 80%;
      background-color: transparent;
      border: 2px solid blue;
    }
  
    .Tleft_Shadow{
      position: absolute;
      top: 0;
      left: 0;
      width: 19.5%;
      height: 19.5%;
      background-color: transparent;
      box-shadow: 0px 0px 100px blue;
    }
  
    .TabsContainer{
      position: absolute;
      top: 0;
      right: 0;
      width: 99%;
      height: 18%;
      border: 5px ;
      border-style: solid;
      border-color: blue;
      box-shadow: 0px 0px 100px blue;
    }
  
    .Dashboard{
      position: absolute;
      bottom: 0; 
      right: 0;
      width: 99%;
      height: 82%;
    }
  
    .ML_Operations{
      position: absolute;
      right: 0;
      bottom: .5%;
      height: 97%;
      width: 40%;
      border: 3px;
      border-style: solid;
      border-color: blue;
      background-color: white;
    }
  
    .MLOpButtons{
      position: absolute;
      height: 10%;
      width: 15%;
      color: blue;
      border: 2px;
      border-color: blue;
      border-style: solid;
      background-color: transparent;
    }
  
    .ML_Parameters{
      position: absolute;
      bottom: .5%;
      left: -.5%;
      width: 60%;
      height: 40%;
      background-color: white;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .ParameterContainer{
      position: absolute;
      justify-content: center;
      width: 25%;
      height: 10%;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .ML_ParameterLabel{
      position: absolute;
      color: blue;
      height: 10%;
      left: 0;
      bottom: -15%;
    }
  
    .ML_Input{
      position: absolute;
      color: blue;
      width: 40%;
      height: 100%;
      border: 0px;
      top: 0;
      right: 0;
    }
  
  
    .Tabs{
      position: absolute;
      bottom: 0;
      width: 10%;
      height: 30%;
      border: 3px ;
      border-style: solid;
      border-color: blue;
      color: blue;
      background-color: white;
    }
  
    .ToolBarContainer{
      position: absolute;
      top: 19%;
      left: -.3%;
      width: 19.5%;
      height: 80%;
      border: 5px ;
      border-style: solid;
      border-color: blue;
      box-shadow: 0px 0px 100px blue;
    }
  
    .QASM_editor{
      position: absolute;
      right: 0;
      top: 3%;
      width: 30%;
      height: 98%;
      border: 2px ;
      border-style: solid;
      border-color: blue;
    }
  
    .QASM{
      position: absolute;
      top: 5%;
      width: 100%;
      height: 50%;
      border: 3px;
      border-style: solid;
      background-color: transparent;
      color: blue;
    }
  
    .QASM_Result{
      position: absolute;
      top: 55.5%;
      width: 100%;
      height: 43%;
      border: 3px;
      border-style: solid;
      background-color: transparent;
      color: blue;
    }
  
    .QASM_Title{
      position: absolute;
      top:-3%;
      left: 0;
      width: 100%;
      height: 3%;
      color: blue;
    }
  
    .Run_QASM{
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 5%;
      background-color: transparent;
      border: 2px;
      border-style: solid;
      border-color: blue;
      color: blue;
    }
  
    .Grovers_Algorithm{
      position: absolute;
      left: 0.5%;
      top: 3%;
      width: 5%;
      height: 10%;
      background-color: transparent;
      color: blue;
      border: 2px;
      border-style: solid;
      border-color: blue;
      z-index: 5;
    }
  
    .Circuit_Image{
      position: absolute;
      width: 100%;
      height: 90%;
      top: 0;
      left: 0;
    }
  
    .Circuit_Display{
      position: absolute;
      left: .6%;
      top: 3%;
      width: 69%;
      height: 98%;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .Download_Dash{
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
    }
  
    .Calendar_Nav{
      position: absolute;
      top: 53%;
      left: 80%;
      width: 20%;
      height: 10%;
    }
  
    .DownloadFrom{
      position: absolute;
      bottom: 10%;
      right: 0;
      width: 50%;
      height: 30%;
    }
  
    .DownloadTo{
      position: absolute;
      bottom: 10%;
      right: 0;
      width: 50%;
      height: 30%;
    }
  
    .TickerInput{
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .Temp_Ticker{
      position: absolute;
      left: 0;
      top: 0;
      width: 60%;
      height: 10%;
      color: blue;
      background-color: transparent;
      border: 0px;
    }
  
    .AppendTicker{
      position: absolute;
      right: -2%;
      top: -1%;
      height: 12%;
      width: 40%;
      border: 2px;
      border-color: blue;
      border-style: solid;
      background-color: white;
      color: blue;
    }
  
    .CurrentTickers{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 87%;
      background-color: transparent;
      color: blue;
    }
  
    .DownloadTickers{
      position: absolute;
      width: 50%;
      height: 5%;
      left: 0;
      top: 18%;
      background-color: transparent;
      color: blue;
    }
  
    .Download_Options{
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 2%;
      width: 30%;
      height: 100%;
      background-color: transparent;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .keylabel{
      position: absolute;
      top: -2%;
      left: 0;
      width: 20%;
      height: 5%;
      color: blue;
    }
  
    .key{
      position: absolute;
      left: 0;
      top: 5%;
      width: 48%;
      height: 3%;
      color: blue;
      background-color: transparent;
    }
  
    .secretlabel{
      position: absolute;
      left: 0;
      top: 6%;
      color: blue;
      width: 50%;
      height: 2%;
    }
  
    .secret{
      position: absolute;
      left: 0;
      top: 13%;
      height: 3%;
      width: 48%;
      color: blue;
      background-color: transparent;
    }
  
    .DataDisplay{
      position: absolute;
      top: 2%;
      left: -.5%;
      width: 70%;
      height: 100%;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .ChartContainer{
      position: absolute;
      width: 90%;
      height: 90%;
    }
  
    .Stats_Operations{
      position: absolute;
      right: 0;
      top: 2%;
      width: 50%;
      height: 100%;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .StatsOpOutput{
      position: absolute;
      left: -.5%;
      top: 1%;
      width: 50%;
      height: 49%;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
  
    .StatsOpDisplay{
      position: absolute;
      left: -.5%;
      bottom: 0;
      width: 50%;
      height: 50%;
      border: 2px;
      border-style: solid;
      border-color: blue;
    }
    /*
  
  
  
    react-dropdown/style.css
  
  
  
    */
  
    .Dropdown-root {
  
      position: relative;
  
    }
  
  
    .Dropdown-control {
  
      position: relative;
  
      overflow: hidden;
  
      background-color: white;
  
      border: 1px solid blue;
  
      border-radius: 2px;
  
      box-sizing: border-box;
  
      color: blue;
  
      cursor: default;
  
      outline: none;
  
      padding: 8px 52px 8px 10px;
  
      transition: all 200ms ease;
  
    }
  
  
    .Dropdown-control:hover {
  
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  
    }
  
  
    .Dropdown-arrow {
  
      border-color: #999 transparent transparent;
  
      border-style: solid;
  
      border-width: 5px 5px 0;
  
      content: ' ';
  
      display: block;
  
      height: 0;
  
      margin-top: -ceil(2.5);
  
      position: absolute;
  
      right: 10px;
  
      top: 14px;
  
      width: 0
  
    }
  
  
    .is-open .Dropdown-arrow {
  
      border-color: transparent transparent #999;
  
      border-width: 0 5px 5px;
  
    }
  
  
    .Dropdown-menu {
  
      background-color: white;
  
      border: 1px solid blue;
  
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  
      box-sizing: border-box;
  
      margin-top: -1px;
  
      max-height: 200px;
  
      overflow-y: hidden;
  
      position: absolute;
  
      top: 100%;
  
      width: 100%;
  
      z-index: 1000;
  
      -webkit-overflow-scrolling: touch;
  
    }
  
  
    .Dropdown-menu .Dropdown-group > .Dropdown-title{
  
      padding: 8px 10px;
  
      color: rgba(51, 51, 51, 1);
  
      font-weight: bold;
  
      text-transform: capitalize;
  
    }
  
  
    .Dropdown-option {
  
      box-sizing: border-box;
  
      color: rgba(51, 51, 51, 0.8);
  
      cursor: pointer;
  
      display: block;
  
      padding: 8px 10px;
  
    }
  
  
    .Dropdown-option:last-child {
  
      border-bottom-right-radius: 2px;
  
      border-bottom-left-radius: 2px;
  
    }
  
  
    .Dropdown-option:hover {
  
      background-color: white;
  
      color: blue;
  
    }
  
  
    .Dropdown-option.is-selected {
  
      background-color: white;
  
      color: blue;
  
    }
  
  
    .Dropdown-noresults {
  
      box-sizing: border-box;
  
      color: #ccc;
  
      cursor: default;
  
      display: block;
  
      padding: 8px 10px;
  
    }
  
  
    /* react calendar src css */
  
  
    .react-calendar {
  
      width: 350px;
  
      max-width: 100%;
  
      background: white;
  
      border: 1px solid blue;
  
      box-shadow: 0px 0px 7px blue;
  
      font-family: Arial, Helvetica, sans-serif;
  
      line-height: 1.125em;
  
      color: blue;
  
    }
  
  
    .react-calendar--doubleView {
  
      width: 700px;
  
    }
  
  
    .react-calendar--doubleView .react-calendar__viewContainer {
  
      display: flex;
  
      margin: -0.5em;
  
    }
  
  
    .react-calendar--doubleView .react-calendar__viewContainer > * {
  
      width: 50%;
  
      margin: 0.5em;
  
    }
  
  
    .react-calendar,
  
    .react-calendar *,
  
    .react-calendar *:before,
  
    .react-calendar *:after {
  
      -moz-box-sizing: border-box;
  
      -webkit-box-sizing: border-box;
  
      box-sizing: border-box;
  
    }
  
  
    .react-calendar button {
  
      margin: 0;
  
      border: 0;
  
      outline: none;
  
      background-color: white;
  
      color: blue;
  
    }
  
  
    .react-calendar button:enabled:hover {
  
      cursor: pointer;
  
    }
  
  
    .react-calendar__navigation {
  
      display: flex;
  
      height: 44px;
  
      margin-bottom: 1em;
  
    }
  
  
    .react-calendar__navigation button {
  
      min-width: 44px;
  
      background: none;
  
    }
  
  
    .react-calendar__navigation button:disabled {
  
      background-color: white;
  
      color: blue;
  
    }
  
  
    .react-calendar__navigation button:enabled:hover,
  
    .react-calendar__navigation button:enabled:focus {
  
      background-color: white;
      
      color: blue;
  
    }
  
  
    .react-calendar__month-view__weekdays {
  
      text-align: center;
  
      text-transform: uppercase;
  
      font: inherit;
  
      font-size: 0.75em;
  
      font-weight: bold;
  
      color: blue;
  
    }
  
  
    .react-calendar__month-view__weekdays__weekday {
  
      padding: 0.5em;
  
      color: blue;
  
    }
  
  
    .react-calendar__month-view__weekNumbers .react-calendar__tile {
  
      display: flex;
  
      align-items: center;
  
      justify-content: center;
  
      font: inherit;
  
      font-size: 0.75em;
  
      font-weight: bold;
  
    }
  
  
    .react-calendar__month-view__days__day--weekend {
  
      color: #d10000;
  
    }
  
  
    .react-calendar__month-view__days__day--neighboringMonth,
  
    .react-calendar__decade-view__years__year--neighboringDecade,
  
    .react-calendar__century-view__decades__decade--neighboringCentury {
  
      color: blue;
  
    }
  
  
    .react-calendar__year-view .react-calendar__tile,
  
    .react-calendar__decade-view .react-calendar__tile,
  
    .react-calendar__century-view .react-calendar__tile {
  
      padding: 2em 0.5em;
  
    }
  
  
    .react-calendar__tile {
  
      max-width: 100%;
  
      padding: 10px 6.6667px;
  
      background: none;
  
      text-align: center;
  
      line-height: 16px;
  
      font: inherit;
  
      font-size: 0.833em;
  
    }
  
  
    .react-calendar__tile:disabled {
  
      background-color: #f0f0f0;
  
      color: #ababab;
  
    }
  
  
    .react-calendar__month-view__days__day--neighboringMonth:disabled,
  
    .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  
    .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  
      color: blue;
      background-color: white;
  
    }
  
  
    .react-calendar__tile:enabled:hover,
  
    .react-calendar__tile:enabled:focus {
  
      background-color: blue;
      color: white;
  
    }
  
  
    .react-calendar__tile--now {
  
      background: blue;
      box-shadow: 0px 0px 7px white;
  
    }
  
  
    .react-calendar__tile--now:enabled:hover,
  
    .react-calendar__tile--now:enabled:focus {
  
      background: blue;
      box-shadow: 0px 0px 7px white;
  
    }
  
  
    .react-calendar__tile--hasActive {
  
      background: blue;
  
    }
  
  
    .react-calendar__tile--hasActive:enabled:hover,
  
    .react-calendar__tile--hasActive:enabled:focus {
  
      background: blue;
  
    }
  
  
    .react-calendar__tile--active {
  
      background: blue;
  
      color: white;
  
      box-shadow: 0px 0px 7px blue;
  
    }
  
  
    .react-calendar__tile--active:enabled:hover,
  
    .react-calendar__tile--active:enabled:focus {
  
      background: blue;
  
      color: white;
  
      box-shadow: 0px 0px 7px blue;
  
    }
  
    .react-calendar__tile--active:not(:focus) {
  
      background: blue;
  
      color: white;
  
      box-shadow: 0px 0px 7px blue;
  
    }
  
  
    .react-calendar--selectRange .react-calendar__tile--hover {
  
      background-color: blue;
  
      color: white; 
  
    }
  }